<%= form_with url: movie_index_path, method: :get, local: true do |form| %>
  <%= form.text_field :search,
                      placeholder: "Search by actor",
                      onchange:    "this.form.submit();",
                      value:       params[:search] %>

  <%= select_tag :sort,
                 options_for_select(
                   [['Select sorting', ''],
                    ['Most rated', 'average_rate_desc'],
                    ['Least rated', 'average_rate_asc'],
                   ],
                   selected: params[:sort]
                 ),
                 onchange: "this.form.submit();"
  %>
<% end %>

<div class="movies">
  <% @movies.each do |movie| %>
    <div class="movie-card">
      <h2><%= movie.name %></h2>
      <p>Director: <%= movie.director %></p>
      <p>Average Rate: <%= movie.average_rate %></p>
    </div>
  <% end %>
</div>